<div class="div_setting">
     <div class="main">
          <%= form_for :cool, url: cools_path do |f| %>
          
          <div class="sub_top">
               <%= link_to 'Pokemon List', cools_path,class:"button_link left"%>
               <%= f.submit "Save", class:"button_link right"%>         
          </div>
         
          <div class="sub_bottom">
               <div class="sub_left">
                    <img src="c.png" class="pokemon_profile"/>
                    <p class="p_title">Pokemon</p>
                    <center>
                         <%= f.text_field :pokemon, class:'p_input p_border add_mb20' %>
                    </center>
                    <p class="p_title">Trainer</p>
                    <center>
                         <%= f.text_field :trainer,class:"p_input p_border" %>
                    </center>
               </div>

               <div class="sub_right">
                    <p class="p_title add_mt20">Types</p>
                         <%= f.text_field :type1, class:"p2_input p_border m_b", placeholder:"1 (required)" %>
                         <%= f.text_field :type2, class:"p2_input p_border m_b", placeholder:"2" %>
                    
                    <p class="p_title add_mt20">Moves</p>
                         <%= f.text_field :move1, class:"p2_input p_border", placeholder:"1 (required)" %>
                         <%= f.text_field :move2, class:"p2_input p_border", placeholder:"2" %>
                         <%= f.text_field :move3, class:"p2_input p_border m_b", placeholder:"3" %>
                         <%= f.text_field :move4, class:"p2_input p_border m_b", placeholder:"4" %>

                    <p class="p_title add_mt20">Weakness</p>
                         <%= f.text_field :weakness1, class:"p2_input p_border m_b", placeholder:"1 (required)" %>
                         <%= f.text_field :weakness2, class:"p2_input p_border m_b", placeholder:"1" %>
                    
                    <p class="p_title add_mt20">Evolution</p>
                         <%= f.text_field :evolution1, class:"p2_input p_border", placeholder:"1"%>
                         <%= f.text_field :evolution2, class:"p2_input p_border", placeholder:"2"%>
                         <center>
                         <%= f.text_field :evolution3, class:"p2_input p_border m_b", placeholder:"3",style:"float:none" %>
                         </center>
               </div>
          </div>

          <% end %>
     </div>
</div>