<%= link_to 'Home', controller: 'welcome' %>
<%= link_to 'Edit', edit_cool_path(@cool) %>

<p>
  <strong>Pokemon:</strong>
  <%= @cool.pokemon %>
</p>
 
<p>
  <strong>Trainer:</strong>
  <%= @cool.trainer %>
</p>

<p>
  <strong>Type:</strong>
  1<%= @cool.type1 %>
  2<%= @cool.type2 %>
</p>

<p>
  <strong>Moves:</strong>
  1<%= @cool.move1 %>
  2<%= @cool.move2 %>
  3<%= @cool.move3 %>
  4<%= @cool.move4 %>
</p>

<p>
  <strong>Weaknesses:</strong>
  1<%= @cool.weakness1 %>
  2<%= @cool.weakness2 %>
</p>

<p>
  <strong>Evolution:</strong>
  1<%= @cool.evolution1 %>
  2<%= @cool.evolution2 %>
  3<%= @cool.evolution3 %>
</p>

<%= link_to 'Back', cools_path %>
