<div class="div_setting">
     <div class="main">
          <div class="sub_top">
               <a href="../welcome/index" class="button_link left index_special">Home</a>
               <%= link_to 'Register', new_smart_path, class:"button_link right index_special"%>
          </div>

          <div class="sub_bottom">
               <div class="p_thead">
                    <span class="p_span" style="padding-left:10px;padding-right:220px;">Pokemon</span>
                    <span class="p_span" style="padding-right:235px;">Trainer</span>
                    <span class="p_span">Action</span>
               </div>
               <div class="sub_table">
               <table class="table table-hover">
                    <tbody>
                         <% @smarts.each do |smart| %>
                         <tr>
                         <td style="width:5%"><img src="" class="pokemon_profile_small"/></td>
                            <td style="width:32.5%"><%= smart.pokemon %></td>
                            <td style="width:32.5%"><%= smart.trainer %></td>
                            <td style="width:30%">
                              <%= link_to 'Destroy', smart_path(smart),method: :delete,data: { confirm: 'Are you sure?' } %>
                              <%= link_to 'Edit', edit_smart_path(smart) %>
                              <%= link_to 'Show', smart_path(smart) %>
                            </td>
                         </tr>
                         <% end %>
                    </tbody>
               </table>
               </div>
          </div>
     </div>
</div>