<div class="div_setting">
     <div class="main">
          <div class="sub_top">
               <%= link_to 'Pokemon List', toughs_path,  class:"button_link left"%>
               <%= link_to 'Edit', edit_tough_path(@tough), class:"button_link right" %>
          </div>

          <div class="sub_bottom">
               <div class="sub_left">
                    <img src="c.png" class="pokemon_profile"/>
                    <p class="p_title">Pokemon</p>
                    <p class="p_content add_mb20"><%= @tough.pokemon %></p>
                    <p class="p_title">Trainer</p>
                    <p class="p_content"><%= @tough.trainer %></p>
               </div>

               <div class="sub_right">
                    <div class="sub_rightcontent">
                         <div class="rightcontent_title p_title add_mb10">Types</div>
                         <div class="rightcontent">
                              <div class="rightcontent_main add_mb30"><%= @tough.type1 %></div>
                              <div class="rightcontent_main add_mb30"><%= @tough.type2 %></div>
                         </div>
                    </div>
                    <div class="sub_rightcontent">
                         <div class="rightcontent_title p_title add_mb10">Moves</div>
                         <div class="rightcontent">
                              <div class="rightcontent_main add_mb10"><%= @tough.move1 %></div>
                              <div class="rightcontent_main add_mb10"><%= @tough.move2 %></div>
                              <div class="rightcontent_main add_mb30"><%= @tough.move3 %></div>
                              <div class="rightcontent_main add_mb30"><%= @tough.move4 %></div>
                         </div>
                    </div>
                    <div class="sub_rightcontent">
                         <div class="rightcontent_title p_title add_mb10">Weaknesses</div>
                         <div class="rightcontent">
                              <div class="rightcontent_main add_mb30"><%= @tough.weakness1 %></div>
                              <div class="rightcontent_main add_mb30"><%= @tough.weakness2 %></div>
                         </div>
                    </div>
                    <div class="sub_rightcontent">
                         <div class="rightcontent_title p_title add_mb10">Evolution</div>
                         <div class="rightcontent">
                              <div class="rightcontent_main add_mb10"><%= @tough.evolution1 %></div>
                              <div class="rightcontent_main add_mb10"><%= @tough.evolution2 %></div>
                              <div class="rightcontent_main add_mb30"><%= @tough.evolution3 %></div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>